[submodule "projects/dtx-aria-bundle"]
	path = projects/dtx-aria-bundle
	url = jhome:projects/latex/aria-bundle.git
[submodule "projects/dtx-changelist"]
	path = projects/dtx-changelist
	url = jhome:projects/latex/changelist.git
