<article itemscope itemtype="http://schema.org/Article">
    <header class="posthead">
        <h1 itemprop="name">$title$</h1>
        <div class="meta">by <span itemprop="creator">$author$</span>
        tagged as <span itemprop="keywords">$prettytags$</span></div>
        <time itemprop="dateCreated" datetime="$date.machine$"><span class="m">$date.month$</span> <span class ="d">$date.day$</span> <span class="y">$date.year$</span></time>
    </header>
    <section itemprop="articleBody">
    $body$
    </section>
    <footer>
    <p class="meta">last updated <time itemprop="dateModified" datetime="$updated.machine$">$updated$</time>
    </footer>
</article>
